* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1260px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff") format("woff"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium") format("svg");
}
nav {
  height: 200px;
  width: 100%;
  background-color: antiquewhite;
}
nav .banner {
  height: 42px;
  background-color: #ffc72c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .banner p {
  font-family: MarkOT-Medium;
  margin-bottom: 0px;
  font-size: 14px;
}
nav .nav-middle {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav .nav-middle .logo {
  max-width: 175px;
  width: 100%;
  height: 30px;
  background-image: url(../images/keurig-logo-Dr6DvtEF.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .nav-middle .search {
  max-width: 700px;
  width: 100%;
}
nav .nav-middle .search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 10px;
}
nav .nav-middle .free-shipping {
  font-family: MarkOT-Medium;
}
nav .nav-middle .free-shipping p {
  margin-bottom: 0px;
}
nav .nav-middle .account-holder {
  width: 224px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-middle .account-holder .account,
nav .nav-middle .account-holder .cart,
nav .nav-middle .account-holder .support {
  width: 64px;
  height: 61px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
nav .nav-middle .account-holder .account p,
nav .nav-middle .account-holder .cart p,
nav .nav-middle .account-holder .support p {
  margin-bottom: 0px;
  font-family: MarkOT-Medium;
  font-size: 16px;
}
nav .nav-middle .account-holder .cart {
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
nav .nav-middle .account-holder .cart .item-text {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  left: 33px;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: center;
  font-size: 14px;
  font-family: MarkOT-Medium;
  background-color: black;
}
nav .links {
  max-width: 1350px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-family: MarkOT-Medium;
  font-size: 16px;
  margin-bottom: 0px;
}
nav .links .deals-link {
  width: 65px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links .deals-link p {
  color: #c8102e;
}
nav .links .outlet-link {
  height: 25px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links .outlet-link img {
  width: 14px;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff") format("woff"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium") format("svg");
}
.accountPage {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.accountPage p {
  font-family: MarkOT-Medium;
  color: #aa8066;
  font-size: 25px;
}
.accountPage label {
  left: 0px;
}
.accountPage input {
  width: 300px;
  height: 50px;
  border-color: gray;
  border-radius: 20px;
}
.accountPage #login-btn {
  width: 300px;
  height: 50px;
  background-color: #3b2b2f;
  border-radius: 20px;
  color: white;
}
.accountPage .linkCreate {
  display: flex;
  margin-right: 5px;
}
.accountPage .linkCreate p {
  color: black;
  font-family: MarkOT-Medium;
  font-size: 12px;
  margin-right: 5px;
}
.accountPage .linkCreate a {
  color: black;
  font-family: MarkOT-Medium;
  font-size: 12px;
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff") format("woff"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium") format("svg");
}
.cartPage {
  width: 100%;
  min-height: 500px;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: MarkOT-Medium;
}
.cartPage button {
  right: 0px;
  top: 0px;
  background-color: none;
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff") format("woff"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium") format("svg");
}
.deals {
  width: 100%;
  height: auto;
  background-color: lightblue;
}

.product {
  min-height: 500px;
  height: auto;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.55);
}

.pbanner {
  width: auto;
  height: 20px;
  padding: 7px;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: MarkOT-Medium;
  color: white;
}

.image-holder {
  min-height: 400px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
}

.image-holder img {
  width: auto;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productName {
  background-color: blue;
  font-family: MarkOT-Medium;
}

.productPrice {
  background-color: blue;
  font-family: MarkOT-Medium;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.buy-now {
  width: 236px;
  height: 40px;
  font-family: MarkOT-Medium;
  color: black;
  border-style: solid;
  border-color: #f1be48;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.create {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.create p {
  font-family: MarkOT-Medium;
  color: #aa8066;
  font-size: 25px;
}
.create input {
  width: 300px;
  height: 50px;
  border-color: gray;
  border-radius: 20px;
}
.create #signup-btn {
  width: 300px;
  height: 50px;
  background-color: #3b2b2f;
  border-radius: 20px;
  color: white;
}
.create .linkAccount {
  display: flex;
  margin-right: 5px;
}
.create .linkAccount p {
  color: black;
  font-family: MarkOT-Medium;
  font-size: 12px;
  margin-right: 5px;
}
.create .linkAccount a {
  color: black;
  font-family: MarkOT-Medium;
  font-size: 12px;
}
