@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium")
      format("svg");
}

.accountPage {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  // gap: 20px;
  align-items: center;
  justify-content: space-evenly;

  // background-color: lightgreen;

  p {
    font-family: MarkOT-Medium;
    color: #aa8066;
    font-size: 25px;
  }

  label {
    left: 0px;
  }

  input {
    width: 300px;
    height: 50px;
    border-color: gray;
    border-radius: 20px;
  }

  #login-btn {
    width: 300px;
    height: 50px;
    background-color: #3b2b2f;
    border-radius: 20px;
    color: white;
  }
  .linkCreate {
    display: flex;
    margin-right: 5px;
    p {
      color: black;
      font-family: MarkOT-Medium;
      font-size: 12px;
      margin-right: 5px;
    }
    a {
      color: black;
      font-family: MarkOT-Medium;
      font-size: 12px;
    }
  }
}
