.create {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;

  //   background-color: chartreuse;

  p {
    font-family: MarkOT-Medium;
    color: #aa8066;
    font-size: 25px;
  }

  input {
    width: 300px;
    height: 50px;
    border-color: gray;
    border-radius: 20px;
  }

  #signup-btn {
    width: 300px;
    height: 50px;
    background-color: #3b2b2f;
    border-radius: 20px;
    color: white;
  }

  .linkAccount {
    display: flex;
    margin-right: 5px;
    p {
      color: black;
      font-family: MarkOT-Medium;
      font-size: 12px;
      margin-right: 5px;
    }
    a {
      color: black;
      font-family: MarkOT-Medium;
      font-size: 12px;
    }
  }
}
