@font-face {
  font-family: "MarkOT-Medium";
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot");
  src: url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/450fdebcd9b47d4e245c0272405e0cf2.svg#MarkOT-Medium")
      format("svg");
}

nav {
  height: 200px;
  width: 100%;
  background-color: antiquewhite;

  .banner {
    height: 42px;
    background-color: #ffc72c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-family: MarkOT-Medium;
      margin-bottom: 0px;
      font-size: 14px;
    }
  }
  .nav-middle {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    // background-color: brown;

    .logo {
      max-width: 175px;
      width: 100%;
      height: 30px;
      // background-color: aquamarine;
      background-image: url(../images/keurig-logo-Dr6DvtEF.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .search {
      max-width: 700px;
      width: 100%;
      input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
        background-color: #fff;
        border-radius: 10px;
        // background-color: blueviolet;
      }
    }

    .free-shipping {
      font-family: MarkOT-Medium;

      p {
        margin-bottom: 0px;
      }
    }

    .account-holder {
      width: 224px;
      // background-color: aquamarine;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .account,
      .cart,
      .support {
        width: 64px;
        height: 61px;
        font-size: 20px;
        cursor: pointer;
        // background-color: chartreuse;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 0px;

        p {
          margin-bottom: 0px;
          font-family: MarkOT-Medium;
          font-size: 16px;
        }
      }

      .cart {
        position: relative;
        // background-color: darkgreen;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 0px;

        .item-text {
          width: 25px;
          height: 25px;
          position: absolute;
          top: -8px;
          left: 33px;
          color: white;
          border-radius: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 0px;
          justify-content: center;
          font-size: 14px;
          font-family: MarkOT-Medium;

          background-color: black;
        }
      }
    }
  }

  .links {
    max-width: 1350px;
    width: 100%;
    height: 50px;
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      color: black;
      font-family: MarkOT-Medium;
      font-size: 16px;
      // background-color: wheat;
      margin-bottom: 0px;
    }

    .deals-link {
      width: 65px;
      height: 25px;
      // background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      p {
        color: #c8102e;
      }
    }

    .outlet-link {
      height: 25px;
      width: 90px;
      // background-color: green;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 14px;
      }
    }
  }
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
