* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1260px;
  margin: 20px auto 0 auto;
  // background-color: rgb(240, 193, 131);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
